.validator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--bc-dim);
  color: var(--txt-black);
}

.validator-image {
  border-radius: 0.25rem;
  height: 64px;
  width: 64px;
  min-height: 64px;
  min-width: 64px;
  border: 1px solid var(--bc-dim);
  margin-right: 20px;
}

.validator-name {
  color: var(--txt);
  font-size: var(--h2);
  line-height: 20px;
  font-weight: 500;
  word-break: break-all;
  margin-bottom: 10px;
}

.bech32-address {
  font-size: 12px;
  line-height: normal;
}

.button-container {
  display: flex;
  align-items: flex-end;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--bc-dim);
}

.button-container button:first-child {
  margin-right: 0.5rem;
}

/*.status-container {*/
/*  padding: 1rem 1rem 0;*/
/*}*/

.validator-status {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  border: 2px solid;
  padding: 2px 4px;
  border-radius: 0.25rem;
}

.validator-status.inactive {
  color: red;
  border-color: red;
}

.validator-status.active {
  color: var(--success);
  border-color: var(--success);
}

.validator-status.elected {
  color: var(--success);
  border-color: var(--success);
}

.validator-status-detailed {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0.4rem;
  font-size: 0.8rem;
}

@media screen and (max-width: 667px) {
  .button-container {
    width: 100%;
    padding: 1rem;
  }

  .button-container button {
    width: 50%;
  }
}

/* validator-info */

.validator-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.validator-info h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.validator-info li.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
}

.validator-info li.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 7px;
}

.validator-info h4,
.validator-info h5 {
  font-size: 14px;
  font-weight: bold;
}

.validator-info h5 {
  color: var(--success);
}

.validator-info li span {
  font-size: 14px;
  line-height: normal;
}
